name: Deploy to Minikube using GitHub Actions

on: [push]
  
jobs:
  job1:
    runs-on: ubuntu-22.04
    name: build Node.js Docker Image and deploy to minikube
    steps:
    - uses: actions/checkout@v4
    - name: Start minikube
      uses: medyagh/setup-minikube@v0.0.20
    - name: Try the cluster !
      run: kubectl get pods -A
    - name: Build image
      run: |
        eval $(minikube -p minikube docker-env)
        IMAGE_TAG=${{ github.sha }}
        docker build -t devopshint/node-app:${IMAGE_TAG} .
        sed -i "s|image: devopshint/node-app:.*|image: devopshint/node-app:${IMAGE_TAG}|" k8s-node-app.yaml
   
    - name: Deploy to minikube
      run: |
        kubectl apply -f k8s-node-app.yaml
    - name: Wait for Pod Readiness
      run: |
          echo "Waiting for nodejs-app Pod to be ready..."
          # Let's wait up to 10 minutes for app=nodejs-app pod to be ready
          kubectl wait --for=condition=ready pod -l app=nodejs-app --timeout=600s
          echo "nodejs-app Pod is now ready!"

    - name: Health Check
      run: |
        echo "Retrieving Pod name..."
        POD_NAME=$(kubectl get pod -l app=nodejs-app -o jsonpath='{.items[0].metadata.name}')
        echo "Found pod: $POD_NAME"

        echo "Starting port-forward from localhost:8080 → pod/$POD_NAME:8080 ..."
        kubectl port-forward pod/$POD_NAME 8080:8080 &
        PF_PID=$!

        echo "Waiting for respond on localhost:8080 ..."
        SECONDS=0
        until curl -fs http://127.0.0.1:8080 > /dev/null; do
          if [ $SECONDS -ge 150 ]; then
            echo "App did not respond after 150 seconds."
            kill $PF_PID
            exit 1
          fi
          echo "App not ready yet... waited ${SECONDS}s"
          sleep 5
        done

        echo “Is healthy and responding!"
        kill $PF_PID
